node_modules
vendor
.git
.env
.env.example
.editorconfig
.gitignore
.gitattributes
tests
phpunit.xml
webpack.mix.js
.vscode
.idea
*.md
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
