[phases.setup]
nixPkgs = ['php83', 'php83Extensions.gd', 'php83Extensions.mbstring', 'php83Extensions.pdo', 'php83Extensions.pdo_mysql', 'php83Extensions.opcache', 'php83Extensions.redis', 'php83Extensions.sodium']

[phases.install]
cmds = [
  'composer install --optimize-autoloader --no-dev --no-interaction',
  'npm ci',
  'npm run build'
]

[phases.build]
cmds = [
  'php artisan config:cache',
  'php artisan route:cache',
  'php artisan view:cache'
]

[start]
cmd = 'php artisan migrate --force && php artisan serve --host=0.0.0.0 --port=${PORT:-8000}'
